<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="dbConnString" value="server=sql11.freesqldatabase.com;uid=sql11455972;pwd=SZjkxWM2wR;database=sql11455972"/>
        <add key="dbName" value="sql11455972"/>
        <add key="userName" value="testovaciPepa"/>
    </appSettings>
</configuration>